body {
    padding: 40px;
  }
  h2 {
    margin-bottom: 50px;
  }

  .title_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 18px;
  }

  .attempts {
    visibility: hidden;
  }

  .attempts_counter {
    padding: 15px;
    background: #35a1ff;
    border-radius: 50%;
    color: white;
  }

  #jumbledWordsWrapper span,
  #orderedWordsWrapper span {
    background: wheat;
    box-sizing: border-box;
    display: inline-block;
    width: 100px;
    height: 50px;
    padding: 15px 25px;
    margin: 0 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;  
  }

  #orderedWordsWrapper span {
    background: #abcdef;
    margin-top: 50px;
  }

  .no-longer-draggable {
    cursor: not-allowed !important;
    background: lightgray !important;
    opacity: 0.5 !important;
  }

  .reset {
    margin-top: 50px;
    background: #ffac05;
    border: 1px solid #f5dfb3;
    padding: 10px 20px;
    cursor: pointer;
  }